.divCards{
    
    display: flex;
    margin: 2%;
    padding: 1%;
    flex-flow: row wrap;    
}
.card2{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    padding: 1%;
    height: 590px;
    margin: 10px 18px;
    width: 18%;
    background-color: white;
}
.card2:hover{
    transform: scale(1.1);
}
.informacion{
    margin-top: 20px;
}
.image{
    border-radius: 9px;
    width: 70%;
    margin: auto;
    display: block;    
}
.card2 h5{
    text-align: center;
}
.card2 p{
    text-align: justify;
}
.card2 button{
    /* para centrar el botón */
    margin-left: 50%;
    transform: translateX(-50%);
}
